* { 
    margin: auto;
    padding:10px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient( 111.4deg,  rgba(238,113,113,1) 1%, rgba(246,215,148,1) 58% );
}



.register-form, .login-form{ 
    background-color: rgba(0,0,0,0.5);
    /* width: 400px; */
    margin: auto;
    border-radius: 5%;

}

.head { 
    color: rgb(34,193,195);
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid rgb(34,193,195);
    text-shadow: 2px 2px 2px 2px;
    
}


.input-box{
    font-size: 26px;
    
    border-radius:10%;
    padding: 10px 10px;
    
}
input{
    border-radius: 10px;
    height: 45px;
}
button{
    padding: 10px;
}


